* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to left, red, white);
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

.bars {
  color: black;
}

.user-info {
  display: flex;
  align-items: center;
  padding-right: 35px;
  gap: 10px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-details {
  text-align: right;
  white-space: nowrap;
}

.user-name {
  font-weight: bold;
}

.user-role {
  font-size: 12px;
}